body {
  margin: 0;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
.game {
  width: fit-content;
  height: fit-content;
}
.level-select {
  width: 300px;
  height: 150px;
}
.levels-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.level {
  text-align: center;
  background-color: antiquewhite;
  padding: 20px;
}
.patrick {
  width: 200px;
  height: 200px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-img {
  width: 1320px;
  height: 900px;
}
.header-title {
  text-decoration: none;
}
