@import url("https://fonts.googleapis.com/css2?family=Slackey&display=swap");
body {
  margin: 0;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Slackey", cursive;
  flex-direction: column;
}
.game {
  width: fit-content;
  height: fit-content;
}
h1 {
  color: #6f4ca2;
}
.about-container {
  display: flex;
  flex: 1;
  text-align: right;
  margin-left: auto;
  width: 100%;
}
.about-container a {
  flex: 1;
  padding: 0 50px;
  text-decoration: none;
  color: #6f4ca2;
}
.about {
  width: 100vh;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #e4dccf;
  background-color: rgba(43, 43, 43, 0.3);
  z-index: 100;
}
.popup-info {
  background-color: aliceblue;
}
.level-select {
  width: 300px;
  height: 150px;
}
.levels-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 450px));
  gap: 40px;
  margin-top: 50px;
  width: 100%;
  justify-content: center;
}
.level {
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  z-index: 100;
  box-shadow: 0px 8px 13px -5px rgba(43, 43, 43, 1);
}
.patrick {
  width: 200px;
  height: 200px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fb9392;
  z-index: 100;
  box-shadow: 0px 8px 13px -5px rgba(43, 43, 43, 1);
}
.game-img {
  width: 1320px;
  height: 900px;
  box-shadow: 0px 8px 13px -5px rgba(43, 43, 43, 1);
  z-index: 10;
  position: relative;
  margin-bottom: 50px;
}
.header-title {
  text-decoration: none;
  padding: 0 50px;
}
.timer {
  text-align: center;
  font-size: 2.5rem;
  color: #6f4ca2;
  padding: 20px;
}
.level p {
  color: #6f4ca2;
  font-size: 1.2rem;
  margin: 10px 0;
}
.levels-container a {
  text-decoration: none;
}

@media (max-width: 430px) {
  .levels-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  }
  .level-select {
    width: 200px;
    height: 100px;
  }
  .header {
    width: auto;
  }
  h1 {
    font-size: 1.5rem;
  }
  .level p {
    font-size: 1rem;
  }
}
